<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {# SEO Meta Tags #}
    <title>{% block title %}{{ seo.title|default('Студия создания и продвижения сайтов в Беларуси - RDN.BY') }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ seo.description|default('SEO и GEO студия по разработке и продвижению сайтов в Беларуси') }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ seo.keywords|default('создание сайтов, продвижение сайтов, SEO, веб-разработка, Беларусь') }}{% endblock %}">
    <meta name="author" content="RDN.BY">
    <meta name="robots" content="{{ seo.robots|default('index, follow') }}">

    {# Canonical #}
    <link rel="canonical" href="{{ absolute_url(seo.canonical|default(app.request.uri)) }}">

    {# Open Graph / Facebook #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(seo.canonical|default(app.request.uri)) }}">
    <meta property="og:title" content="{% block og_title %}{{ seo.title|default('RDN.BY - Студия создания и продвижения сайтов') }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ seo.description|default('SEO и GEO студия по разработке и продвижению сайтов в Беларуси') }}{% endblock %}">
    <meta property="og:image" content="{{ absolute_url(asset(seo.og_image|default('/images/og-default.jpg'))) }}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="RDN.BY">

    {# Twitter Card #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ absolute_url(seo.canonical|default(app.request.uri)) }}">
    <meta name="twitter:title" content="{% block twitter_title %}{{ seo.title|default('RDN.BY') }}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{{ seo.description|default('') }}{% endblock %}">
    <meta name="twitter:image" content="{{ absolute_url(asset(seo.og_image|default('/images/og-default.jpg'))) }}">

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">

    {# Schema.org JSON-LD для организации #}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "RDN.BY",
            "url": "{{ app.request.schemeAndHttpHost }}",
        "logo": "{{ absolute_url(asset('/images/logo.png')) }}",
        "description": "SEO, Direct и GEO студия по разработке и продвижению сайтов в Беларуси",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Минск",
            "addressCountry": "BY"
        },
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+375-25-999-74-90",
            "contactType": "customer service",
            "availableLanguage": ["Russian", "Belarusian"]
        },
        "sameAs": [
            "https://facebook.com/rdnby",
            "https://instagram.com/rdnby",
            "https://vk.com/rdnby"
        ]
    }
    </script>

    {# Дополнительная Schema.org разметка для конкретных страниц #}
    {% block schema_org %}{% endblock %}

    {# CSS #}
    {% block stylesheets %}
        {# <link rel="stylesheet" href="{{ asset('assets/css/index_home.css') }}"> #}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

</head>
<body class="antialiased overflow-x-hidden">
{% include 'partials/header.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% include 'partials/footer.html.twig' %}

{# Scripts #}
{% block javascripts %}
     {#  #}<script src="{{ asset('assets/libs/preline/dist/preline.js') }}" defer></script>
{% endblock %}
</body>
</html>
